.App {
  font-size: 12px;
}
.inline {
  display: flex;
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 50px;
}
.btn {
  color: white;
  background-color: #0c272b;
  border: none;
  height: 30px;
  font-size: 14px;
}
.inputDiv {
  margin-left: 20px;
  margin-right: 20px;
}
.input {
  width: 250px;
  height: 30px;
}

.labelInput {
  line-height: 30px;
  font-size: 20px;
}

